<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.christopher.jcccmobiletestapp" >
    <uses-sdk android:minSdkVersion="19"  android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/jccc_logo_small"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MyActivity"
            android:label="@string/app_Name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".DisplayMessageActivity"
            android:label="DisplayMessageActivity"
            android:parentActivityName=".MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.christopher.jcccmobiletestapp.MyActivity" />
        </activity>
    </application>

</manifest>

